<!DOCTYPE html>
<html>
<head>
  <title>Feodalis</title>
  <%= stylesheet_link_tag    "feodalis/application", media: "all" %>
  <%= javascript_include_tag "feodalis/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
