%h1
  Alliances#show

%table
  %tr
    %th
    - @suzerains_names.each do |name|
      %th= name
  - @suzerains.each do |suzerain|
    %tr
      %th= suzerain.code_name
      - @alliances_hash[ suzerain.id ].each do |alliance_status|
        %td{ class: "alliance_status_#{alliance_status}" }= alliance_status
